<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ SPDX-FileCopyrightText: 2026 NewPipe e.V. <https://newpipe-ev.de>
  ~ SPDX-License-Identifier: GPL-3.0-or-later
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="net.newpipe.app.ComposeActivity"
            android:exported="false" />
    </application>
</manifest>
