.gradle/
local.properties
.DS_Store
build/
captures/
.idea/
*.iml
*~
.weblate
.kotlin
*.class
app/debug/
app/release/
checkouts/

# vscode / eclipse files
*.classpath
*.project
*.settings
bin/
.vscode/
*.code-workspace
