.gradle/
local.properties
.DS_Store
build/
captures/
.idea/
*.iml
*~
.weblate
*.class
app/debug/
app/release/
.kotlin/

# vscode / eclipse files
*.classpath
*.project
*.settings
bin/
.vscode/
*.code-workspace

# logs
*.log
