.gitignore
.gradle
/local.properties
.DS_Store
/build
/captures
/app/app.iml
/.idea
/*.iml
*~
.weblate
*.class

# vscode / eclipse files
*.classpath
*.project
*.settings
bin/
.vscode/
*.code-workspace
