<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.schabi.newpipe">

    <application
        android:name=".DebugApp"
        android:label="NewPipe Debug"
        tools:replace="android:name, android:label">
        <activity
            android:name=".MainActivity"
            android:label="NewPipe Debug"
            tools:replace="android:label"/>
    </application>

</manifest>